*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:#0f0f1a;
color:white;
overflow-x:hidden;
}

#particles-js{
position:fixed;
width:100%;
height:100%;
z-index:-1;
}

/* NAVBAR */
.navbar{
position:fixed;
width:100%;
display:flex;
justify-content:space-between;
padding:20px 10%;
background:rgba(0,0,0,0.4);
backdrop-filter:blur(10px);
animation:slideDown 1s ease;
}

@keyframes slideDown{
from{transform:translateY(-100%);}
to{transform:translateY(0);}
}

.navbar ul{
display:flex;
list-style:none;
}

.navbar ul li{
margin-left:20px;
}

.navbar a{
color:white;
text-decoration:none;
transition:0.3s;
}

.navbar a:hover{
color:#00f7ff;
}

.logo{
font-weight:700;
color:#00f7ff;
}

/* HERO */
.hero{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
}

.profile{
width:180px;
border-radius:50%;
border:4px solid #00f7ff;
margin-bottom:20px;
}

.tagline{
opacity:0.7;
}

/* SECTION */
section{
padding:100px 10%;
text-align:center;
}

h2{
margin-bottom:30px;
color:#00f7ff;
}

/* GALLERY */
.gallery{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.gallery img{
width:250px;
border-radius:15px;
transition:0.4s;
}

.gallery img:hover{
transform:scale(1.05);
box-shadow:0 0 20px #00f7ff;
}

/* ORGANISASI */
#org ul{
list-style:none;
}

#org li{
margin:10px 0;
}

/* FOOTER */
footer{
padding:20px;
background:#000;
text-align:center;
opacity:0.7;
  }
